/**
* Copyright  2016 青报新媒
* Code by yefengs
* 
*/
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
img{max-width: 100%;height: auto;}
iframe{display:block}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
/*h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}*/
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a{color:#333}
a:hover{color:#0164ad;text-decoration:underline}
ins,a{text-decoration:none}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
body{font:13px/1.685 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","Tahoma","SimSun"}
.w1024{width:1024px;margin:0 auto}
.f-left{float:left}
.f-right{float:right}
.w660{
	width: 660px;
}
.w440{
	width: 440px;
}
.w300{
	width: 300px;
}
.w550{
	width: 550px;
}
.w666{
	width: 666px;
}
.yahei{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,\9ed1\4f53,arial,\5b8b\4f53}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}



body{
	/*background: url(images/background_lh.jpg)top center no-repeat;*/
}

#top-menu{
	width: 100%;
	background: #f1f1f1;
	border-bottom: solid 1px #a1a1a1;
	line-height: 35px;
}
#top-menu .top-nav-list {
	text-align: left;

}
#top-menu .top-nav-list ul li{
	display: inline-block;
	line-height: 35px;
	padding:2px 8px;
	margin:2px 4px;
	font-size: 14px;

}










#header{
	margin: 0 auto 20px auto;
}

#top-banner{
	/*background: url(images/banner_bg.jpg)top center no-repeat;*/
	/*height:430px;*/
	height: 300px;
	background: url(images/banner.jpg) center top no-repeat;
}
/*#top-banner .ant-title {
	position: relative;
}
#top-banner .ant-title i{
	display: block;
	position: absolute;
}
#top-banner .ant-title .jujiao{
	width: 289px;
	height:173px;
	top:100px;
	left:100px;
	background: url(images/banner_title.png) 0 0 no-repeat;
}
#top-banner .lianghui{
	width: 220px;
	height:108px;
    top: 197px;
    left: 423px;
	background: url(images/banner_title.png) -290px 0 no-repeat;
}

#top-banner .ant-title .qhlingwang{
	width: 290px;
	height:90px;
    top: 90px;
    left: 430px;
	background: url(images/banner_title.png) -288px -108px no-repeat;
}

*/

#box1{
	margin-bottom:15px; 
}
#box2{
	margin:45px auto 20px ; 
}




#main-nav{
	height: 46px;
	/*background: #CC3333;*/
	/*border-bottom:solid 5px #CCCC00;*/
			/*border-top: solid 3px #f5f500;*/
	width: 988px;
	margin: 0 auto;
	position: relative;
}
#main-nav ul{
	background: #0d82d8;

	z-index: 1;
	position: absolute;
	width:100%;
	text-align: center;
}
#main-nav .nav-style{
	display: block;
	position: absolute;
	left: -35px;
	bottom:-5px;
	height: 46px;
	width: 40px;
	background:#0164ad;
		 /*border-top: solid 3px #f5f500;*/
}
#main-nav .nav-style-right{
	left:auto;
	right: -35px;
}
#main-nav .nav-style:before,#main-nav .nav-style-right:before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	display: block;
	width:0px;
	height:0px;
	border:solid 23px transparent;
	border-right:none;
	border-left-color:#fff;  
}
#main-nav .nav-style-right:before{
	border-left:none;
	border-right:solid 23px #fff;
	left: auto;
	right: 0;
}


#main-nav ul li{
	display: inline;
	display: inline-block;
}
#main-nav ul li a{
	padding:13px 10px;
	margin: 0 8px;
	line-height:46px;
	text-decoration: none;
	color: #FFF;
	font-size: 18px;
}
#main-nav ul li a:hover{
	color: #0164ad;
	background: #fff;
}

#scroll-news{
	width: 980px;
	margin: 0 auto;
	background: #eaeaea;
	height: 40px; 
	position: relative;
	z-index: 2;

}
#scroll-news #scrollbox{
	margin: 0 auto;
	width: 950px;
	overflow: hidden;
}
#scroll-news #scrollbox .indemo{
	width:500%;
	height: 40px;
}
#scroll-news #scrollbox .indemo .scrolltext{
	float: left;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
#scroll-news #scrollbox .indemo .scrolltext a{
	margin: 3px 10px;
}


#toutiao{
	/*width: 888px;*/
	margin: 10px auto 30px auto;
	height:77px;
	position:relative;
	border:solid 1px #f1f1f1;
	background: #f5f5f5;
}
#toutiao .toutiao-tip{
	text-align: center;
	position: absolute;
	left: 0;
	top:0;
	width:66px;
	display: block;
	height:77px;
	font-size: 24px;
	background: #0d82d8;
	color: #fff;
	line-height:38px;
}
#toutiao .toutiao-tip:before{
	content: "";
	display: block;
	position: absolute;
	top:32px;
	right: 0;
	width: 0;
	height: 0;
	border:8px solid transparent;
	border-left:none;
	border-right-color: #f5f5f5;

}
#toutiao .toutiao-title{
	margin-left: 77px;
	font-size: 30px;
	text-align: center;
}

#toutiao .toutiao-title a{
	color:#06357b;
	text-decoration: none;
}

#toutiao .toutiao-title a:hover{
	color: #830F0F;
}
#toutiao ul{
	margin-left: 77px;
	text-align: center;
}
#toutiao ul li{
	display: inline;
}



.pic-slider{position:relative;
	background:#FFF;
	margin:5px auto;
	height:366px;
	width:550px;
	overflow:hidden;
}

/*bd images content*/
.pic-slider .bd{position:relative;z-index:0}
.pic-slider .bd ul li{position:relative}
.pic-slider .bd ul li .h5-slider-title{position:absolute;left:2%;bottom:8%;color:#F1f1f1;background:url(images/bg_opacity_60.png);padding:7px 15px;border-radius:3px;}
.pic-slider .bd ul li .h5-slider-title a{color: #fff;font-size: 1.8em;text-decoration: none;}
.pic-slider .bd li img{width:100%;vertical-align:top;/*width:450px;height:300px;*/}
/*#news1-slider .bd .shadow{bottom:-14px;}*/
/*hd  current*/
.pic-slider .hd{position:absolute;z-index:1;height:22px;line-height:22px;text-align:center;left:0;bottom:0}
.pic-slider .hd ul{text-align:center;}
.pic-slider .hd ul li{cursor:pointer;border-radius:5px;display:inline-block;*display:inline;zoom:1;width:10px;height:10px;margin:3px 6px;background:#a9a9a9;overflow:hidden;font-size:0;position:relative}
.pic-slider .hd ul .on{background:#1a4c89;}
/*hd connet*/
.pic-slider .prev,.pic-slider .next{z-index:1;display:block;width:55px;height:55px;position:relative;margin:-47% 0 0 0;float:left;background: #fff;}
.pic-slider .next{float:right;margin-right:0%}
.pic-slider .prev:hover,.pic-slider .next:hover{filter:alpha(opacity=80);opacity:0.8}


.big-title{
	height:33px;
	/*width:900%;*/
	/*padding-bottom: 5px;*/
	
	border-bottom:dotted 1px #b6b6b6;
	margin: 8px 2px;
}
.big-title strong{
	background:url(images/title.png) no-repeat;
	text-indent: -99999em;
	display: inline-block;
	height: 30px;
	width:200px;
}

.lhyw strong {
	background-position: 0 0 ;
}
.spbb strong{
	background-position: 0 -38px;
}

.mjxz{
	text-align: center;

}
.mjxz strong{
	background-position: 0 -38px;
}
.list-style-0{

}

.list-style-0 ul{
	margin: 0 ;
	padding:0px 5px;

}
.list-style-0 ul li{
    padding: 14px 0 14px 20px;
    border-bottom: 1px dotted #CCC;
	white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    background: url(images/li_dot.png) left center no-repeat;
}

.list-style-0 ul li a{

}
.list-style-1 {
	margin:3px;
}
.list-style-1 ul{

}
.list-style-1 ul li{
	padding:4px 0 4px 20px;
    border-bottom: 1px dotted #CCC;
	white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
        background: url(images/li_dot.png) left center no-repeat;
}
/* 40   +20 */
.news-video ul li{
	width: 160px;
	height: 120px;
	margin: 2px;
	float: left;
	position: relative;
}
.news-video ul li i{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background: url(images/bg_opacity_60.png),url(images/video_iocn.png) center center no-repeat;
	opacity:.6;
}
.news-video ul li:hover i{
	opacity: .2;
}
.news-video ul li .video-descript{
	position: absolute;
	left:5%;
	bottom: 5%;
	font-size:14px;

}
.news-video ul li .video-descript a{
	color: #fff;
	text-decoration: none;
}
.news-video ul li img{
	width: 160px;
	height: 120px;
}

.news-video ul li.frist-video{
	width:330px;
	height:245px;
}
.news-video ul li.frist-video img{
	width: 330px;
	height: 245px;
}

.sidebartitle {
	font-size:16px;
	font-weight: 600;
    color: #0d82d8;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.siderbar-frist{
	margin-top: 40px;
}
.siderbar1{
	background:#f8f8f8;
	padding: 15px;
	position: relative;
}
.siderbar1:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 0 0;
	border-color: #0d82d8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

#news-cevr{margin: 30px auto 20px auto}

.news-list ul li {
	display: inline-block;
	width: 47%;
		padding: 4px 0 4px 20px;
	margin: 0 3px;
}


.beautiful-qh{
	width: 100%;
	padding: 10px 0;
	background: #f6f6f6;

}


.beautiful-qh .pic{width:1100px;height:330px;margin:0 auto 0;overflow: hidden;}
.beautiful-qh .pic ul li{list-style:none;width:100px;height:429px;float:left;overflow: hidden;position: relative;cursor: pointer;}
.beautiful-qh .pic ul li .txt{width:100px; height:329px;background:#000;filter:alpha(opacity=70);background:rgba(0,0,0,.7);position:absolute;
left: 0;top: 0;}
.beautiful-qh .pic ul li img{
	position: absolute;
	left: 0;
	top:0;
	display: block;
	width: 600px;
	height: 329px
}
.beautiful-qh .pic ul li .txt p{color:#fff;font-family:"微软雅黑";float:left;position:relative;}
.beautiful-qh .pic ul li .txt .p1{font-size:12px;width:12px;margin:25px 25px 0 20px;line-height: 1.2}
.beautiful-qh .pic ul li .txt .p2{font-size:14px;width:14px;margin-top:25px;line-height: 1.2}



.box-news-list{

}

.first-news{
	width: 48.888%;
}

.first-news .list-entry-first{
	padding:10px 2px;
}

.first-news .list-entry-first h2{
	font-size: 18px;
	font-weight:normal;
	padding-bottom:10px;
	border-bottom:dotted 1px #b6b6b6;
}
.first-news .list-entry-first .sumary{
	padding: 10px 3px;
}
.first-news .list-entry-first .sumary p{
	color: #454545;
	text-indent: 2em;
}
.first-news .list-entry-first .sumary div{
	text-align: right;
}
.first-news .list-entry-first .sumary div a{
	padding:5px 10px;
	display:inline-block;
	background: #0d82d8;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}
.first-news .list-entry-first .sumary div a:hover{
	background: #4dacf3;
}

.last-news {
	width: 48.888%;
}

.last-news  ul{
	padding:10px 2px;
}

.last-news  ul li {
	padding:5px;
	margin: 2px 0;
	position: relative;
	height: 80px;
}
.last-news  ul li .last-news-img{
	position: absolute;
	left: 2px;
	top:2px;
	width: 100px;
	height: 80px;
}
.last-news  ul li .last-news-img img{
		width: 100px;
	height: 80px;
}
.last-news  ul li .last-news-img-entry{
	margin-left: 110px;
	height: 80px;
	overflow: hidden;
}
.last-news  ul li .last-news-img-entry h3{
	font-size: 17px;
	line-height: 1.2;
	font-weight: normal;
	padding-bottom:4px;
	border-bottom: dotted 1px #b6b6b6;
}

.last-news  ul li .last-news-img-entry h3 a{
	color: #454545;
	text-decoration: none;
}
.last-news  ul li .last-news-img-entry h3 a:hover{
	color: #0d82d8
}

.last-news  ul li .last-news-img-entry .last-news-img-entry-meta{
	text-align: right;
	color: #787887;
}